{% extends "firewall/base.html" %}
{% block body %}
    <div class="align-content-center">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {{ form.errors }}

            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="{{ field.id_for_label }}"
                               placeholder="{{ field.label }}" name="{{ field.name }}">
                    </div>
                </div>
            {% endfor %}

            <input class="btn btn-outline-primary" type="submit" value="Login">

        </form>
    </div>
{% endblock body %}
